<ion-tabs>
  <ion-tab-bar slot="bottom" color="primary">

    <ion-tab-button tab="welcome">
      <ion-icon name="home"></ion-icon>
      <ion-label>{{'HOME.HOME' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="creditors">
      <ion-icon name="arrow-dropdown"></ion-icon>
      <ion-label>{{'HOME.CREDITORS.CREDITORS' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="debts">
      <ion-icon name="arrow-dropup"></ion-icon>
      <ion-label>{{'HOME.DEBTS.DEBTS' | translate}}</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>