<div class="row">
  <div class="col-xs-12">
    <h2>My Posts</h2>
    <br>
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          Search post by Title
        </div>
        <div class="col-sm-4">
          Search by content
        </div>
        <div class="col-sm-4">
          Likes Greater Than
        </div>

      </div>
      <div class="row">
        <div class="col-sm-4">
          <input [(ngModel)]="searchPost"
                 name="title"
                 type="text"
                 class="form-control mac-style"
                 placeholder="Search by title"
                 autocomplete="off">
        </div>
        <div class="col-sm-4">
          <input [(ngModel)]="searchPostByContent"
                 name="title"
                 type="text"
                 class="form-control mac-style"
                 placeholder="Search by content"
                 autocomplete="off">
        </div>
        <div class="col-sm-4">
          <input class="form-control mac-style"
                 autocomplete="off"
                 type="number"
                 [(ngModel)]="likes"
                 (change)="filterGreaterThan('likes', likes)">
        </div>
      </div>
    </div>
    <br>
    <br>
    <h4 *ngIf="filteredPosts.length ===0"> Sorry ! Your request does not match any post title ! </h4>
    <table class="table">
        <tr *ngFor="let post of filteredPosts; let i = index "
                [ngClass]="{'list-group-item': true,
                'list-group-item-success': this.post.likes > this.post.unlikes,
                'list-group-item-danger': this.post.likes < this.post.unlikes}">
          <p class="pull-right">{{ getDate() | date: 'dd MMM yyyy' }}</p>
          <h3> {{ post.title }} </h3>
          <p> {{ post.content }}</p>
          <button class="btn btn-success"
                  (click)="like(post)"> {{ post.likes }} Like </button>
          <button class="btn btn-danger"
                  (click)="unlike(post)">  {{ post.unlikes }}  Don't like </button>
          <button class="btn btn-primary pull-right"
                  (click)="onDeletePost(post)"> Supprimer le post </button>
          <button class = "btn btn-success pull-right"
                  (click)="onViewPost(i)"> Observer le post </button>
        </tr>
    </table>
    <button class="btn btn-primary" (click)="onNewPost()"> Ajouter un post </button>
    <br>
    <br>
  </div>
</div>


