<ion-header>
  <ion-toolbar color="primary">
    <ion-title >Xpense</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Vous avez déjà un compte ?</ion-card-title>
      <ion-card-subtitle>Connectez vous !</ion-card-subtitle>
    </ion-card-header>
    <form [formGroup]="form" padding>
      <ion-item>
        <ion-input type="email" formControlName="email" placeholder="mon@email.com"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input formControlName="password" type="password" placeholder="Mot de passe"></ion-input>
      </ion-item>
      <ion-button [disabled]="form.invalid" expand="block" shape="round" routerLink="/menu/tabs">Connexion</ion-button>
    </form>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Vous n'avez pas de compte</ion-card-subtitle>
    </ion-card-header>
    <ion-button expand="block" color="tertiary" shape="round" routerLink="/register">S'inscrire <ion-icon slor="start" name="arrow-forward"></ion-icon> </ion-button>
  </ion-card>

</ion-content>