<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li routerLinkActive="active">
        <a routerLink="posts"> My posts </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="posts/new"> Add a post </a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li routerLinkActive="active" *ngIf="!isAuth">
        <a routerLink="auth/signin"> Sign In </a>
      </li>
      <li routerLinkActive="active" *ngIf="!isAuth">
        <a routerLink="auth/signup"> Sign Up </a>
      </li>
      <li>
        <a (click)="onSignOut()" *ngIf="isAuth" style="cursor:pointer"> Log out </a>
      </li>
    </ul>
  </div>
</nav>
