<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{'DEBT.DETAILS' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form">
    <ion-item>
      <ion-label> {{'DEBT.I_OWE' | translate}} </ion-label>
      <ion-input type="number" formControlName="amount" [(ngModel)]="debt.amount"></ion-input>€
    </ion-item>
    <ion-item>
      <ion-label> {{'DEBT.TO' | translate}} </ion-label>
      <ion-input type="text" formControlName="name" [(ngModel)]="debt.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label> {{'DEBT.FOR' | translate}} </ion-label>
      <ion-input type="text" formControlName="description" [(ngModel)]="debt.description"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label> {{'DEBT.SINCE' | translate}} {{debt.date.toDate() | date}} </ion-label>
    </ion-item>
  </form>
</ion-content>

<ion-footer>
  <ion-button expand="full" [disabled]="form.invalid" button (click)="closeModal()">{{'DEBT.CLOSE' | translate}}
  </ion-button>
</ion-footer>