<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Détails dette</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form">
    <ion-item>
      <ion-label> Tu dois </ion-label>
      <ion-input formControlName="amount" [(ngModel)]="debt.amount"></ion-input>$
    </ion-item>
    <ion-item>
      <ion-label> à </ion-label>
      <ion-input formControlName="name" [(ngModel)]="debt.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label> Pour </ion-label>
      <ion-input formControlName="description" [(ngModel)]="debt.description"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label> Depuis le : {{debt.date | date}} </ion-label>
    </ion-item>
  </form>
</ion-content>

<ion-footer>
  <ion-button expand="full" [disabled]="form.invalid" button (click)="closeModal()">Fermer</ion-button>
</ion-footer>