<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{'CREDITOR.ADD' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <form [formGroup]="form">
    <ion-item>
      <ion-label>{{'CREDITOR.NAME' | translate}}</ion-label>
      <ion-input formControlName="name" type="text" placeholder="{{'HOME.GENERAL.NEW_CRED_NAME' | translate}}">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label>{{'CREDITOR.OWES_ME' | translate}}</ion-label>
      <ion-input formControlName="amount" type="number" placeholder="€"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>{{'CREDITOR.FOR' | translate}}</ion-label>
      <ion-input formControlName="description" type="text" placeholder="{{'HOME.GENERAL.NEW_CRED_FOR' | translate}}">
      </ion-input>
    </ion-item>
    <ion-button (click)="onValidateForm(form)" [disabled]="form.invalid" type="submit" shape="round" color="primary"
      expand="full">
      {{'CREDITOR.CONFIRM' | translate}}</ion-button>
  </form>
</ion-content>
<ion-footer>
  <ion-button (click)="onCancel()" color="primary" expand="full" shape="round" fill="outline">
    {{'CREDITOR.CANCEL' | translate}}</ion-button>
</ion-footer>