<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{'HOME.HOME' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-card color="primary" class="ion-text-center" padding>
    <ion-card-title>
      {{'HOME.CREDITORS.CREDITORS' | translate}}
    </ion-card-title>
    <ion-card-subtitle>
      {{'HOME.CREDITORS.TO_BE_PAID' | translate}}
    </ion-card-subtitle>
    <ion-card-content>
      <ion-item color="primary" class="ion-text-center">
        <ion-label>
          {{'HOME.GENERAL.NUMBER' | translate}} : {{this.loginService.currentUser.unPaidCreditors.length}}
        </ion-label>
      </ion-item>
      <ion-item color="primary" class="ion-text-center">
        <ion-label>
          {{'HOME.GENERAL.AMOUNT' | translate}} : {{this.creditsAmount}} €
        </ion-label>
      </ion-item>
      <ion-row style="height: 50px"></ion-row>
      <ion-card-title>
        {{'HOME.DEBTS.DEBTS' | translate}}
      </ion-card-title>
      <ion-card-subtitle>
        {{'HOME.DEBTS.TO_BE_PAID' | translate}}
      </ion-card-subtitle>
      <ion-item color="primary" class="ion-text-center">
        <ion-label>
          {{'HOME.GENERAL.NUMBER' | translate}} : {{this.loginService.currentUser.unPaidDebts.length}}
        </ion-label>
      </ion-item>
      <ion-item color="primary" class="ion-text-center">
        <ion-label>
          {{'HOME.GENERAL.AMOUNT' | translate}} : {{this.debtsAmount}} €
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button color="primary" (click)="onAdd()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>