.ion-badge {
    color: #fff;
    position: absolute;
    top: 0px;
    right: 0px;
    border-radius: 100%;
}
 
.category-banner {
    background: var(--ion-color-light);
    height: 40px;
    padding: 10px;
    font-weight: 500;
}