<ion-split-pane>
  <ion-menu contentId="content">

    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>
          Menu
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content padding>
      <ion-list>
        <ion-menu-toggle auto-hide="false">
          <ion-item routerLink='/menu/tabs/tabs/welcome' routerDirection="root"
            [class.active-item]="selectedPath.startsWith(pages.url)">
            <ion-icon name="home" slot="start"></ion-icon>
            <ion-label>
              {{'HOME.HOME' | translate}}
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-item tappable (click)="openLanguagePopover($event)" routerDirection="root">
          <ion-icon name="flag" slot="start"></ion-icon>
          {{'HOME.LANGUAGE' | translate}}
        </ion-item>
        <ion-item tappable routerLink="/auth" (click)="onLogout()" routerDirection="root">
          <ion-icon name="log-out" slot="start"></ion-icon>
          {{'HOME.GENERAL.DISCONNECT' | translate}}
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="content" main></ion-router-outlet>
</ion-split-pane>