<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Xpense</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Inscription</ion-card-title>
    </ion-card-header>
    <form [formGroup]="form" padding>
      <mat-form-field>
        <mat-label>Nom d'utilisateur</mat-label>
        <mat-icon matSuffix>account_circle</mat-icon>
        <input formControlName="username" type="text" matInput>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Mot de passe</mat-label>
        <mat-icon matSuffix>lock</mat-icon>
        <input formControlName="password" type="password" matInput>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Confirmer le mot de passe</mat-label>
        <mat-icon matSuffix>lock</mat-icon>
        <input formControlName="cpassword" type="password" matInput>
      </mat-form-field>
      <ion-button shape="round" [disabled]="form.invalid" (click)="register()" expand="block">Valider</ion-button>
      <ion-label color="danger">{{errorMessage}}</ion-label>
    </form>
  </ion-card>
  <ion-button shape="round" routerLink="/auth" expand="block">J'ai déjà un compte</ion-button>
</ion-content>