<div class="row">
  <div class="col-xs-12">
    <h2> Rédiger un nouveau post</h2>
    <form [formGroup]="postForm" (ngSubmit)="onSavePost()">
      <div class="form-group">
        <label for="title">Titre</label>
        <input type="text" class="form-control" id="title" formControlName="title">
      </div>
      <div class="form-group">
        <label for="content">Contenu</label>
        <textarea type="text" class="form-control" id="content" formControlName="content" rows="3"></textarea>
      </div>
      <button class="btn btn-success"
              [disabled]="postForm.invalid"
              type="submit"> Enregistrer le post </button>
    </form>
  </div>
</div>
