<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Détails créditeur</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form">
    <ion-item>
      <ion-input type="text" formControlName="name" [(ngModel)]="creditor.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label> $ </ion-label>
      <ion-input type="number" formControlName="amount" [(ngModel)]="creditor.amount"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label> Pour : </ion-label>
      <ion-input formControlName="description" [(ngModel)]="creditor.description"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label> Depuis le : {{creditor.date.toDate() | date}} </ion-label>
    </ion-item>
  </form>
</ion-content>


<ion-footer>
  <ion-button expand="full" [disabled]="form.invalid" button (click)="closeModal()">Fermer</ion-button>
</ion-footer>